*{
    box-sizing: border-box;
}

:root{
    --night-text-color:rgb(221, 13, 13);
    --light-text-color:#fff;
    --card-width:400px;

    --transition-all:all 2s ease-in;
}

.text{
    padding:30px;
    width:var(--card-width);
    height:150px;
    background-color: var(--night-text-color);
    color:var(--light-text-color);

    border:1px solid var(--night-text-color);
}

.text::selection{
    color: aqua;
    background-color:black;
}

.text:hover{
    width:100%;
    transition:var(--transition-all);
}

.text2{
    width:300px;
    margin:auto;
    padding:30px;
    height:300px;
    background-color: blueviolet;
    /* color: var(--light-text-color); */
    margin-top: 10px;
    /* overflow: hidden; */
    overflow-y: scroll;
    scroll-behavior: smooth;
}